.app.dark{
    --bg-color: #445E93;
    --inverted-bg-color: #FCECC9;


    --primary-color: #7EB2DD;
    --secondary-color: #FCB0B3;

    --inverted-primary-color: #F93943;
    --inverted-secondary-color: #7EB2DD;

}