.app.light{
    --bg-color: #FCECC9;
    --inverted-bg-color: #445E93;

    --primary-color: #F93943;
    --secondary-color: #7EB2DD;

    --inverted-primary-color: #7EB2DD;
    --inverted-secondary-color: #FCB0B3;
}