.app.light {
    --bg-color: #fcecc9;
    --inverted-bg-color: #445e93;
    --primary-color: #f93943;
    --secondary-color: #7eb2dd;
    --inverted-primary-color: #7eb2dd;
    --inverted-secondary-color: #fcb0b3;
}
